body {
    background-color: #AC9C8D;
    font-family: Arial, Helvetica, sans-serif;
}
menu {
    display: flex;
    align-items: center;
    gap: 50px;
}
a {
    text-decoration: none;
}
main {
    margin: 20px;
    background-color: #535353;
    padding: 10px;
    border-radius: 40px;
}
div.footer {
    display: inline-block;
}

footer {
    position: fixed;
    right: 0;
    margin: 20px;
    border-radius: 10px;
    background-color: #9e9a97;
    box-shadow: 0 0 20px #5e5146;
}
