body {
    background-color: black;
    color: white;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
div.logo {
    background-color: blue;
}

div.uslugi-main {
    background-color: rgb(22, 22, 22);
}

div.uslugi-tytul {
    font-weight: bold;
    font-size: 40px;
    padding-left: 5px;
}

div.uslugi-uslugi {
    padding-left: 15px;
}

div.uslugi-linia {
    width: 7px;
    height: 100px;
    background: linear-gradient(
    to bottom,
    transparent,
    #c1ff72,
    transparent
);
    border-radius: 100%;

}

div.uslugi-text {
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
}

div.tytul {
    font-size: 25px;
    position: relative;
}

div.uslugi-text-cena {
    display: inline-block;
    position: absolute;
    right: 10;
    top: 0;
    font-size: 25px;
}

div.uslugi-div {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}